@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-200 text-base-content;
    @apply font-sans antialiased;
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
}

.home-page {
  padding: 2rem;
  text-align: center;
}
